@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

/* ROOT */
:root {
    --background: #D7D4FF;
    --title-color: #2B2B2B;
    --text-color: #555555;
    --button-color: #6C63FF;
}

/*------- RESETS ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*------- HEADER ------*/
header {
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

/*------- HEADER - TEXT ------*/
.div-header {
    padding-top: 7rem;
}

.text {
    display: inline-block;

    margin: 0 16rem 0 6.3rem;
}

.text h1 {
    font: 700 2rem 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: var(--title-color);
}

.text .p-header {
    font: 400 1rem 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--text-color);
    line-height: 2rem;

    width: 30rem;
    margin: 1.2rem 0;
}

.text button {
    padding: 0.7rem 4rem;
    margin-top: 1rem;

    font: 500 1rem 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #000;
    background: transparent;
    cursor: pointer;
    border-radius: 1.25rem;
    border-color: var(--button-color);
    transition: color 0.7s;
}

.text button:hover {
    background: var(--button-color);
    color: #FFF;
}

/*------ HEADER - IMAGE -------*/
.image {
    display: inline-block;
}

.image img {
    width: 22rem;
    margin-top: 5rem;

    animation: pulse 1s infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(0%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(100%);
    }
}

/*-------- MAIN ---------*/
main {
    height: 120vh;
    width: 100vw;
}

.cards {
    margin: 9rem 0 0 7.2rem;
}

.card {
    width: 21rem;
    height: 22rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    margin: 0 4rem 3rem 0;
    display: inline-block;

    transition: all 0.7s;
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    font: 700 1.2rem 'Montserrat', sans-serif;
    letter-spacing: 1px;

    margin: 1rem;
}

.card p {
    font: 400 1rem 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 2rem;

    margin: 1rem;
}

/*-------- CARD COLORS ------*/
.card .colors {
    width: 21rem;
    height: 12rem;
}

.cards .card-rose {
    background: #FF6363;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-rose:hover {
    background: #c21d1d;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-blue {
    background: #63ECFF;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-blue:hover {
    background: #19b1c5;
}

.cards .card-purple {
    background: #F363FF;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-purple:hover {
    background: #b51ac4;
}

.cards .card-green {
    background: #63FF73;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-green:hover {
    background: #23d335;
}

.cards .card-yellow {
    background: #FFDD63;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-yellow:hover {
    background: #caa51f;
}

.cards .card-dark-blue {
    background: #6663FF;
    cursor: pointer;
    transition: background 0.7s;
}

.cards .card-dark-blue:hover {
    background: #1d1abd;
}

/*------- FOOTER - INPUTS ------*/
footer {
    width: 100vw;
    height: 90vh;
    background: var(--background);

    text-align: center;
}

.h1-inputs {
    font: 500 2rem 'Roboto', sans-serif;
    color: var(--title-color);
    letter-spacing: 1px;

    margin-bottom: 2rem;
}

.inputs {
    align-items: center;
    padding: 4rem 0;
}

.inputs input,
textarea {
    padding: 0.8rem 0.8rem;
    margin: 0.5rem 0;
    width: 23rem;

    border: none;
    border-radius: 7px;
    color: rgba(110, 114, 117, 0.74);
    font: 400 0.8rem 'Roboto', sans-serif;
}

.inputs #submit {
    background: var(--button-color);
    color: #FFF;
    transition: background 0.7s;
    font: 500 1rem 'Roboto', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 1.25rem;
    transition: all 0.7s;


    padding: 0.8rem 0.8rem;
    width: 23rem;
    border: none;
    border-radius: 7px;
}

.inputs #submit:hover {
    background: #2a23b6;
    color: #FFF;
    border:rgba(0, 0, 0, 0.1);
}


/*------- FOR PHONE - MEDIA ------*/

@media (max-width:600px){    
    /*------- HEADER - TEXT ------*/
    .div-header {
        padding-top: 1rem;
    }
    
    .text {
        margin: 2rem 0 0 2rem;
    }
    
    .text .p-header {
        width: 28rem;
    }

    /*------ HEADER - IMAGE -------*/
    .image img {
        width: 17rem;
        margin: 4rem 0 0 6.5rem;
    }

    /*----- MAIN - CARDS -------*/
    main {
        height: 350vh;
        width: 100vw;
    }
    
    .cards {
        margin: 6rem 0 0 5rem;
    }
    
    .card {
        width: 21rem;
        height: 22rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
        margin: 0 4rem 3rem 0;
        display: inline-block;
    
        transition: all 0.7s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card h3 {
        font: 700 1.2rem 'Montserrat', sans-serif;
        letter-spacing: 1px;
    
        margin: 1rem;
    }
    
    .card p {
        font: 400 1rem 'Roboto', sans-serif;
        letter-spacing: 1px;
        line-height: 2rem;
    
        margin: 1rem;
    }
}
